<section class="c4o-Cht QApNGp">
  <ul class="fxkGCl">
    <li class="A9uhnl">
      <img
        alt=""
        src="https://www.manomano.fr/assets/img/themes/default/illustrations/millions-of-products.svg"
        data-testid="MillionsOfProducts"
        width="72"
        height="72"
      />
      <div class="JuodYU"><p class="qOzWAu">Des millions de produits</p></div>
    </li>
    <li class="A9uhnl">
      <img
        alt=""
        src="https://www.manomano.fr/assets/img/themes/default/illustrations/home-delivery.svg"
        data-testid="HomeDelivery"
        width="72"
        height="72"
      />
      <div class="JuodYU">
        <p class="qOzWAu">Livraison chez vous ou en point relais</p>
      </div>
    </li>
    <li class="A9uhnl">
      <img
        alt=""
        src="https://www.manomano.fr/assets/img/themes/default/illustrations/online-experts.svg"
        data-testid="OnlineExperts"
        width="72"
        height="72"
      />
      <div class="JuodYU">
        <p class="qOzWAu">Des centaines d'experts en ligne</p>
      </div>
    </li>
  </ul>
</section>

<footer>
    <div id="b2bConnectContainer" class="c52Rzoy">
        <div class="WhiWRo">
          <div class="WoDYLu">
            <div class="ygYhgn">
              <span class="amaud3">Vous êtes un professionnel ?</span
              ><span class="yu78kg">Vos grandes marques à prix négocié sont ici.</span
              ><span class="lrEqWZ">Réservé aux Pros</span>
            </div>
            <a
              href="/se-connecter?b2b=true"
              data-testid="b2b-signin-button-footer-reinsurance-cta"
              data-gtm-event="click_b2b_login"
              data-gtm-target="footer_reinsurance_cta"
              class="KUHZjM pChptO A24Kw7 j83JLV"
              ><img
                alt=""
                src="	https://www.manomano.fr/assets/img/themes/default/svg/manomano-logo-b2b.svg"
                class="c7D41-R"
                width="30"
                height="30"
              /><span>Espace Pro</span></a
            >
          </div>
        </div>
      </div>
  <div class="newsletter-section">
    <img
      src="https://www.manomano.fr/assets/img/themes/default/svg/newsletter/newsletter-b2c.svg"
    />
    <div class="newsletter-content">
      <p>5€* pour vous, des (bons) conseils et des promos !</p>
      <p>Inscrivez-vous à notre newsletter !</p>

      <form>
        <input type="email" placeholder="Renseignez votre email" />
        <button type="submit">S'inscrire</button>
      </form>

      <p>
        Votre adresse email sera uniquement utilisée pour vous envoyer nos
        newsletters. Vous pourrez vous désabonner via le lien intégré dans la
        newsletter.
        <a href="#"
          >En savoir plus sur la gestion de vos données et vos droits.</a
        >
      </p>
      <p>
        *Code promotionnel envoyé par email à la suite de l'inscription à la
        newsletter...
      </p>
    </div>
    <div class="newsletter-image">
      <!-- Add an image here if needed -->
    </div>
  </div>

  <div class="footer-content">
    <div class="footer-column">
      <h4>ManoMano infos</h4>
      <ul>
        <li><a href="#">Suivi de commande</a></li>
        <li><a href="#">Besoin d'aide ?</a></li>
        <li><a href="#">Nous contacter</a></li>
        <li><a href="#">Notifier un contenu illicite</a></li>
        <li><a href="#">Qui sommes-nous ?</a></li>
        <li><a href="#">Devenir marchand</a></li>
        <li><a href="#">Contact Presse</a></li>
        <li><a href="#">Nous rejoindre</a></li>
        <li><a href="#">Programme d'Affiliation</a></li>
        <li><a href="#">Conditions générales...</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Conseils, produits, prix</h4>
      <ul>
        <li><a href="#">Nos bons conseils</a></li>
        <li><a href="#">Nos top catégories de produits</a></li>
        <li><a href="#">Nos comparatifs</a></li>
        <li><a href="#">Nos marques</a></li>
        <li><a href="#">Nos offres du moment</a></li>
        <li><a href="#">Nos inspirations</a></li>
        <li><a href="#">Top ventes</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Découvrez l'application ManoMano</h4>
      <div class="app-links">
        <a href="#"
          ><img
            src="https://www.manomano.fr/assets/_next/static/images/appstore-fr-9b8baa90ba71beb2.svg"
            alt="App Store"
        /></a>
        <a href="#"
          ><img
            src="https://www.manomano.fr/assets/_next/static/images/google-play-fr-5591c14065de2456.png"
            alt="Google Play"
        /></a>
      </div>
      <h4>Paiement sécurisé</h4>
      <div class="payment-methods">
        <img
          src="	https://www.manomano.fr/assets/_next/static/images/cb-a7a0e9192760e666.svg"
          alt="Visa"
        />
        <img
          src="https://www.manomano.fr/assets/_next/static/images/mastercard-ca5a22453a37462b.svg"
          alt="Mastercard"
        />
        <img
          src="	https://www.manomano.fr/assets/_next/static/images/paypal-21f612aa13f724d9.svg"
          alt="PayPal"
        />
        <img
          src="https://www.manomano.fr/assets/_next/static/images/klarna-38fb50622e86b29d.svg"
          alt="Klarna"
        />
      </div>
    </div>
    <div class="footer-column">
      <h4>International</h4>
      <p>Et bientôt présents sur Mars !</p>
      <div class="languages">
        <img
          src="https://www.manomano.fr/assets/img/themes/default/svg/flags/it.svg"
          alt="Italy"
        />
        <img
          src="https://www.manomano.fr/assets/img/themes/default/svg/flags/gb.svg"
          alt="UK"
        />
        <img
          src="https://www.manomano.fr/assets/img/themes/default/svg/flags/de.svg"
          alt="Germany"
        />
        <img
          src="https://www.manomano.fr/assets/img/themes/default/svg/flags/es.svg"
          alt="France"
        />
      </div>
      <h4>Rejoignez-nous</h4>
      <div class="social-media">
        <a href="#"
          ><img
            src="https://www.manomano.fr/assets/_next/static/images/linkedin-9782229d023789f0.svg"
            alt="LinkedIn"
        /></a>
        <a href="#"
          ><img
            src="	https://www.manomano.fr/assets/_next/static/images/facebook-eb67399073a53115.svg"
            alt="Facebook"
        /></a>
        <a href="#"
          ><img
            src="https://www.manomano.fr/assets/_next/static/images/pinterest-e88f3d6e72b5d99c.svg"
            alt="Instagram"
        /></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy;2024 ManoMano</p>
    <ul>
      <li><a href="#">Paramétrer mes cookies</a></li>
      <li><a href="#">Plan du site</a></li>
      <li><a href="#">Mentions légales</a></li>
      <li><a href="#">Protection des données</a></li>
      <li><a href="#">Conditions générales d'utilisation</a></li>
      <li><a href="#">Infos consommateurs</a></li>
    </ul>
  </div>
</footer>
