<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meuble de jardin</title>
    <link rel="stylesheet" href="parent.component.css" />
  </head>
  <body>
    <div class="container">
      <nav class="breadcrumb">
        <a href="#">Accueil</a> &gt; <a href="#">Jardin piscine</a> &gt;
        <a href="#">Mobilier de jardin</a> &gt;
        <a href="#" class="current">Meuble de jardin</a>
      </nav>
      <div class="NMWp2t">
        <div id="SelectInput" class="c7F_lju lfamIw oYkacP">
          <div
            role="button"
            tabindex="0"
            class="c75tXKM"
            aria-expanded="false"
            aria-controls="list-SelectInput"
            (click)="toggleList()"
          >
            Trier par :<span class="WjSGvD">Pertinence</span>
            <svg
              aria-hidden="true"
              focusable="false"
              height="1em"
              role="presentation"
              width="1em"
              viewBox="0 0 24 24"
              class="svg_tamagoshi"
            >
              <g id="iconsSystemArrowDown">
                <path
                  d="M8.12 9.29L12 13.17l3.88-3.88a.996.996 0 111.41 1.41l-4.59 4.59a.996.996 0 01-1.41 0L6.7 10.7a.996.996 0 010-1.41c.39-.38 1.03-.39 1.42 0z"
                  fill="currentColor"
                ></path>
              </g>
            </svg>
          </div>
          <ul *ngIf="!isHidden" class="c-RXQ6d" id="list-SelectInput" role="tree">
            <li
              class="Pcn-tW uVu1Ue"
              aria-selected="true"
              tabindex="-1"
              role="option"
              value="Pertinence"
            >
              <svg
                aria-hidden="true"
                focusable="false"
                height="20"
                role="presentation"
                width="20"
                viewBox="0 0 24 24"
                class="svg_tamagoshi MxyOiD"
              >
                <g id="iconsSystemCheck">
                  <path
                    d="M9 16.17L5.53 12.7a.996.996 0 10-1.41 1.41l4.18 4.18c.39.39 1.02.39 1.41 0L20.29 7.71a.996.996 0 10-1.41-1.41L9 16.17z"
                    fill="currentColor"
                  ></path>
                </g>
              </svg>
              Pertinence
            </li>
            <li class="Pcn-tW" aria-selected="false" tabindex="-1" role="option" value="Prix croissant">
              Prix croissant
            </li>
            <li class="Pcn-tW" aria-selected="false" tabindex="-1" role="option" value="Prix décroissant">
              Prix décroissant
            </li>
            <li class="Pcn-tW" aria-selected="false" tabindex="-1" role="option" value="Meilleures notes">
              Meilleures notes
            </li>
          </ul>
        </div>
      </div>
      
      <header class="header">
        <h1>Meuble de jardin</h1>
        <p>Plus de 500 produits trouvés</p>
        <label class="UruyAP eqH16Z mY8Z8b oWMtqJ" for="is_mmf"
          ><input type="checkbox" id="is_mmf" /><span
            class="PDUJDD T6ebFM"
          ></span
          ><span class="b38yzx jKP2zg c35g1Kh gS1w88 b5_eW8"
            ><div class="PEgoci RI5EXs">
              <div class="b38yzx jKP2zg c35g1Kh gS1w88 sNFqDn">
                <span class="NwUTB1 pDbAeh"
                  >Livraison 48h gratuite
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    height="24"
                    role="presentation"
                    width="24"
                    viewBox="0 0 42 40"
                    class="svg_tamagoshi eyak_S yJMCf0"
                  >
                    <path
                      d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z"
                      fill="url(#b2cgradient-:rfl:)"
                    ></path>
                    <path
                      d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z"
                      fill="#fff"
                    ></path>
                    <defs>
                      <linearGradient
                        id="b2cgradient-:rfl:"
                        x1="17.29"
                        y1="42.343"
                        x2="39.452"
                        y2="22.109"
                        gradientUnits="userSpaceOnUse"
                      >
                        <stop offset="0" stop-color="#0397A7"></stop>
                        <stop offset=".997" stop-color="#00ECCD"></stop>
                      </linearGradient>
                    </defs></svg
                ></span>
              </div></div></span
        ></label>
      </header>

      <section class="filters">
        <div class="filter-group">
          <div class="qb07xC">
            <div class="nRAVRU ViWfJG">
              <div class="b38yzx jKP2zg c35g1Kh gS1w88 WvTuHI">
                En savoir plus
              </div>
            </div>
          </div>
          <h3>Livraison</h3>
          <label><input type="checkbox" /> Livraison gratuite</label><br />
          <label><input type="checkbox" /> Livraison en 1 jour</label><br />
          <label
            ><input type="checkbox" /> Livraison à un point de relais</label
          >
        </div>

        <div class="filter-group">
          <h3>Prix (€)</h3>
          <div class="input-group">
            <div class="input-wrapper">
              <label for="min-price" class="min">Minimum (€)</label>
              <input type="number" id="min-price" value="2" class="min" />
            </div>
            <div class="input-wrapper">
              <label for="max-price" class="max">Maximum (€)</label>
              <input type="number" id="max-price" value="4876" />
            </div>
          </div>
        </div>

        <div class="filter-group">
          <h3>Notes</h3>
          <label p-flex
            ><p class="rating">⭐⭐⭐⭐ (7)</p>
            4 et plus (2187)</label
          ><br />
          <label
            ><p class="rating">⭐⭐⭐ (7)</p>
            3 et plus (3332)</label
          >
        </div>

        <div class="filter-group">
          <h3>Marques</h3>
          <input type="text" placeholder="Rechercher une marque" /><br />
          <label><input type="checkbox" /> VIDAXL (18468)</label><br />
          <label><input type="checkbox" /> TORANA (15955)</label><br />
          <label><input type="checkbox" /> THE LIVING STORE (6690)</label>
        </div>
        <div class="filter-group">
          <h3>Vendeurs</h3>
          <!-- <input type="text" placeholder="Rechercher une marque"><br> -->
          <label><input type="checkbox" /> VIDAXL (18468)</label><br />
          <label><input type="checkbox" /> TORANA (15955)</label><br />
          <label><input type="checkbox" /> THE LIVING STORE (6690)</label>
        </div>
        <div class="filter-group">
          <h3>Label/Certification</h3>
          <label><input type="checkbox" />Eco Responsable</label><br />
          <label><input type="checkbox" /> Origine France</label><br />
        </div>
       
      </section>
      <div class="fU9F-w zHt8nR a9ILuN LGArr-">
        <div class="c7QWmjJ M3Aeu-">
          <button
            aria-disabled="true"
            class="c3O5j-b gzfZ1j"
            type="button"
            disabled=""
          >
            <svg
              aria-hidden="true"
              focusable="false"
              height="1em"
              role="presentation"
              width="1em"
              viewBox="0 0 24 24"
              class="svg_tamagoshi beyupp"
            >
              <use href="#iconsSystemArrowLeft"></use>
            </svg></button
          ><button aria-disabled="false" class="c3O5j-b" type="button">
            <svg
              aria-hidden="true"
              focusable="false"
              height="1em"
              role="presentation"
              width="1em"
              viewBox="0 0 24 24"
              class="svg_tamagoshi beyupp"
            >
              <use href="#iconsSystemArrowRight"></use>
            </svg>
          </button>
        </div>
        
        <div class="PjXbTf kAOFbn">
          <a
            title="Salon de jardin"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-0"
            href="/salon-de-jardin-2721"
            ><div class="gXtAcR">
              <img
                alt="Salon de jardin"
                src="https://cdn.manomano.com/images/images_products/17326690/T/31484269_1.jpg"
                class="jF7v7j"
                width="40px"
                height="40"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs">Salon de jardin</span>
            </div></a
          ><a
            title="Ensemble table et chaise de jardin"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-1"
            href="/ensemble-table-et-chaise-de-jardin-4857"
            ><div class="gXtAcR">
              <img
                alt="Ensemble table et chaise de jardin"
                src="https://cdn.manomano.com/images/images_products/26533/T/118613_1.jpg"
                class="jF7v7j"
                width="40px"
                height="40"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs"
                >Ensemble table et chaise de jardin</span
              >
            </div></a
          ><a
            title="Table de jardin"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-2"
            href="/table-de-jardin-1177"
            ><div class="gXtAcR">
              <img
                alt="Table de jardin"
                src="https://cdn.manomano.com/images/images_products/2572316/T/14068179_1.jpg"
                class="jF7v7j"
                width="40px"
                height="40px"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs">Table de jardin</span>
            </div></a
          ><a
            title="Chaise de jardin"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-3"
            href="/chaise-de-jardin-1179"
            ><div class="gXtAcR">
              <img
                alt="Chaise de jardin"
                src="https://cdn.manomano.com/images/images_products/9991867/T/18280794_1.jpg"
                class="jF7v7j"
                width="40px"
                height="40"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs"
                >Chaise de jardin</span
              >
            </div></a
          ><a
            title="Fauteuil de jardin"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-4"
            href="/fauteuil-de-jardin-2962"
            ><div class="gXtAcR">
              <img
                alt="Fauteuil de jardin"
                src="https://cdn.manomano.com/images/images_products/152548/T/622393_1.jpg"
                class="jF7v7j"
                width="40px"
                height="40"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs"
                >Fauteuil de jardin</span
              >
            </div></a
          ><a
            title="Canapé de jardin"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-5"
            href="/canape-de-jardin-2981"
            ><div class="gXtAcR">
              <img
                alt="Canapé de jardin"
                src="https://cdn.manomano.com/images/images_products/8585102/T/15774494_1.jpg"
                class="jF7v7j"
                width="40px"
                height="40"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs"
                >Canapé de jardin</span
              >
            </div></a
          ><a
            title="Table de pique nique"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-6"
            href="/table-de-pique-nique-2720"
            ><div class="gXtAcR">
              <img
                alt="Table de pique nique"
                src="https://cdn.manomano.com/images/images_products/392794/T/12427605_1.jpg"
                class="jF7v7j"
                width="40px"
                height="40"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs"
                >Table de pique nique</span
              >
            </div></a
          ><a
            title="Table de camping"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-7"
            href="/table-de-camping-5565"
            ><div class="gXtAcR">
              <img
                alt="Table de camping"
                src="https://cdn.manomano.com/images/images_products/25307329/T/57876828_1.jpg"
                class="jF7v7j"
                width="40px"
                height="40"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs"
                >Table de camping</span
              >
            </div></a
          ><a
            title="Table basse de jardin"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-8"
            href="/table-basse-de-jardin-5566"
            ><div class="gXtAcR">
              <img
                alt="Table basse de jardin"
                src="https://cdn.manomano.com/images/images_products/6132097/T/25007510_1.jpg"
                class="jF7v7j"
                width="40px"
                height="40"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs"
                >Table basse de jardin</span
              >
            </div></a
          ><a
            title="Chaise de camping"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-9"
            href="/chaise-de-camping-4708"
            ><div class="gXtAcR">
              <img
                alt="Chaise de camping"
                src="https://cdn.manomano.com/images/images_products/8036829/T/20234116_1.jpg"
                class="jF7v7j"
                width="40px"
                height="40"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs"
                >Chaise de camping</span
              >
            </div></a
          ><a
            title="Mobilier de jardin pour enfant"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-10"
            href="/mobilier-de-jardin-pour-enfant-3015"
            ><div class="gXtAcR">
              <img
                alt="Mobilier de jardin pour enfant"
                src="https://cdn.manomano.com/images/images_products/9616895/T/17463138_1.jpg"
                class="jF7v7j"
                width="40px"
                height="40"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs"
                >Mobilier de jardin pour enfant</span
              >
            </div></a
          ><a
            title="Table balcon"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-11"
            href="/table-balcon-5567"
            ><div class="gXtAcR">
              <img
                alt="Table balcon"
                src="https://cdn.manomano.com/images/images_products/9991867/T/18280828_1.jpg"
                class="jF7v7j"
                width="40px"
                height="40"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs">Table balcon</span>
            </div></a
          ><a
            title="Galette de chaise"
            class="c3VU2KI c6GhK-Q"
            data-testid="category-link-12"
            href="/galette-de-chaise-4618"
            ><div class="gXtAcR">
              <img
                alt="Galette de chaise"
                src="https://cdn.manomano.com/images/C/cat_4618.jpg"
                class="jF7v7j"
                width="40px"
                height="40"
              /><span class="b38yzx jKP2zg zu_yu7 ogbixs"
                >Galette de chaise</span
              >
            </div></a
          >
        </div>
      </div>
      <section class="product-list">
        <div class="jTWbBY" data-testid="sprbrd-banner">
          <a
            class="c27UA1R"
            data-testid="sprbrd-logo-link"
            href="https://www.manomano.fr/recherche/terre+jardin+table+de+jardin?brand_names=TERRE+JARDIN&amp;ls_filter=false"
            ><picture
              ><source
                srcset="
                  https://cdn.manomano.com/sponsored-brands/secondary/dvkezxchf/image/upload/h_168,w_336/jgqtivqlxxxemukl7iro 1x,
                  https://cdn.manomano.com/sponsored-brands/secondary/dvkezxchf/image/upload/h_336,w_672/jgqtivqlxxxemukl7iro 2x
                "
                media="(min-width: 672px)"
                data-testid="sprbrd-imageDesktop"
              /> </picture
            ><img
              alt="brand logo"
              src="https://cdn.manomano.com/sponsored-brands/main/images/headlineCampaigns/2966600_2023-10-13-12-38-25-193.jpg"
              data-testid="sprbrd-logo"
              height="100%"
              width="100%"
              class="FDkIDQ"
          /></a>
          <div class="fU9F-w FsODX5" data-testid="sprbrd-products">
            <div class="n_rnu6 ESZgey mfrkPN">
              <div class="c4hSgyS" data-testid="sprbrd-label">
                <div class="dluXEP">
                  <span
                    role="button"
                    tabindex="0"
                    data-testid="popoverTriggersponsoredLabel"
                    ><span class="b38yzx YLR5E2 c35g1Kh gS1w88 dluXEP"
                      ><span class="C8TPUq">Sponsorisé</span
                      ><svg
                        aria-hidden="true"
                        focusable="false"
                        height="1em"
                        role="presentation"
                        width="1em"
                        viewBox="0 0 24 24"
                        class="svg_tamagoshi BmBzWN"
                      >
                        <g id="iconsSystemInfoOutline">
                          <path
                            d="M11 7h2v2h-2V7zm1 4c.55 0 1 .45 1 1v4c0 .55-.45 1-1 1s-1-.45-1-1v-4c0-.55.45-1 1-1zm0-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"
                            fill="currentColor"
                          ></path>
                        </g></svg></span
                  ></span>
                </div>
              </div>
              <div class="ccm8O0">
                <span class="aGid7q" data-testid="sprbrd-prmtnText"
                  >Profitez pleinement de l'extérieur</span
                ><a
                  class="vh-lLl"
                  data-testid="sprbrd-bannerLink"
                  href="https://www.manomano.fr/recherche/terre+jardin+table+de+jardin?brand_names=TERRE+JARDIN&amp;ls_filter=false"
                  >En savoir plus sur TERRE JARDIN<svg
                    aria-hidden="true"
                    focusable="false"
                    height="16px"
                    role="presentation"
                    width="16px"
                    viewBox="0 0 24 24"
                    class="svg_tamagoshi dbQdki"
                  >
                    <g id="iconsSystemArrowNext">
                      <path
                        d="M5.418 11h11.17l-4.88-4.88c-.39-.39-.39-1.03 0-1.42a.996.996 0 011.41 0l6.59 6.59c.39.39.39 1.02 0 1.41l-6.59 6.59a.996.996 0 11-1.41-1.41l4.88-4.88H5.417c-.55 0-1-.45-1-1s.45-1 1-1z"
                        fill="currentColor"
                      ></path>
                    </g></svg
                ></a>
              </div>
            </div>
            <div class="c7QWmjJ wSzwUH">
              <button
                aria-disabled="true"
                class="c3O5j-b gzfZ1j"
                disabled=""
                type="button"
                data-testid="left-arrow-sprbrd-products"
              >
                <svg
                  aria-hidden="true"
                  focusable="false"
                  height="1em"
                  role="presentation"
                  width="1em"
                  viewBox="0 0 24 24"
                  class="svg_tamagoshi beyupp"
                >
                  <use href="#iconsSystemArrowLeft"></use>
                </svg></button
              ><button
                aria-disabled="false"
                class="c3O5j-b"
                type="button"
                data-testid="right-arrow-sprbrd-products"
              >
                <svg
                  aria-hidden="true"
                  focusable="false"
                  height="1em"
                  role="presentation"
                  width="1em"
                  viewBox="0 0 24 24"
                  class="svg_tamagoshi beyupp"
                >
                  <use href="#iconsSystemArrowRight"></use>
                </svg>
              </button>
            </div>
            <div class="PjXbTf kAOFbn u0CTcZ">
              <a
                class="c481G71"
                href="/catalogue/p/table-de-jardin-extensible-en-verre-avec-4-chaises-31289474?product_id=30172814"
                ><img
                  alt="Table de jardin extensible en verre avec 4 chaises"
                  src="https://cdn.manomano.com/table-de-jardin-extensible-en-verre-avec-4-chaises-P-16-30172814_1.jpg"
                  height="70"
                  width="70"
                  class="xqxSdA"
                />
                <div>
                  <p class="b38yzx jKP2zg zu_yu7 gS1w88 jJIG7Q">
                    Table de jardin extensible en verre avec 4 chaises
                  </p>
                  <div
                    class="c02qRSp"
                    data-testid="sprbrd-product-0-priceAndRating"
                  >
                    <span class="qMW3rO ZR6iYG uwhBzD"
                      ><span class="KIH6jK">428</span
                      ><sup
                        ><span
                          class="s8wibb"
                          data-testid="price-currency-symbol"
                          >€</span
                        ><span class="jgdrL5">39</span></sup
                      ></span
                    >
                    <div class="t-gJof">
                      <span
                        class="MppYSS"
                        style="background-position-y: 70%"
                        aria-label="3.5714285/5"
                      ></span>
                      <div
                        class="b38yzx YLR5E2 c35g1Kh gS1w88"
                        style="color: #505971; margin-left: 4px"
                      >
                        (7)
                      </div>
                    </div>
                  </div>
                </div></a
              ><a
                class="c481G71"
                href="/catalogue/p/chaise-de-jardin-textilene-x-4-31289473?product_id=30172813"
                ><img
                  alt="Lot de 4 Chaises de jardin TERRE JARDIN - Textilène"
                  src="https://cdn.manomano.com/lot-de-4-chaises-de-jardin-terre-jardin-textilene-P-16-30172813_1.jpg"
                  height="70"
                  width="70"
                  class="xqxSdA"
                />
                <div>
                  <p class="b38yzx jKP2zg zu_yu7 gS1w88 jJIG7Q">
                    Lot de 4 Chaises de jardin TERRE JARDIN - Textilène
                  </p>
                  <div
                    class="c02qRSp"
                    data-testid="sprbrd-product-1-priceAndRating"
                  >
                    <span class="qMW3rO ZR6iYG uwhBzD"
                      ><span class="KIH6jK">97</span
                      ><sup
                        ><span
                          class="s8wibb"
                          data-testid="price-currency-symbol"
                          >€</span
                        ><span class="jgdrL5">89</span></sup
                      ></span
                    >
                    <div class="t-gJof">
                      <span
                        class="MppYSS"
                        style="background-position-y: 70%"
                        aria-label="3.6533864/5"
                      ></span>
                      <div
                        class="b38yzx YLR5E2 c35g1Kh gS1w88"
                        style="color: #505971; margin-left: 4px"
                      >
                        (251)
                      </div>
                    </div>
                  </div>
                </div></a
              ><a
                class="c481G71"
                href="/catalogue/p/table-de-jardin-extensible-en-verre-trempe-31289475?product_id=30172815"
                ><img
                  alt="Table de jardin extensible en verre trempé"
                  src="https://cdn.manomano.com/table-de-jardin-extensible-en-verre-trempe-P-16-30172815_1.jpg"
                  height="70"
                  width="70"
                  class="xqxSdA"
                />
                <div>
                  <p class="b38yzx jKP2zg zu_yu7 gS1w88 jJIG7Q">
                    Table de jardin extensible en verre trempé
                  </p>
                  <div
                    class="c02qRSp"
                    data-testid="sprbrd-product-2-priceAndRating"
                  >
                    <span class="qMW3rO ZR6iYG uwhBzD"
                      ><span class="KIH6jK">363</span
                      ><sup
                        ><span
                          class="s8wibb"
                          data-testid="price-currency-symbol"
                          >€</span
                        ><span class="jgdrL5">69</span></sup
                      ></span
                    >
                    <div class="t-gJof">
                      <span
                        class="MppYSS"
                        style="background-position-y: 100%"
                        aria-label="5/5"
                      ></span>
                      <div
                        class="b38yzx YLR5E2 c35g1Kh gS1w88"
                        style="color: #505971; margin-left: 4px"
                      >
                        (1)
                      </div>
                    </div>
                  </div>
                </div></a
              >
            </div>
          </div>
        </div>

        <div
          *ngFor="let product of products"
          class="product-card"
          [ngClass]="{ sponsored: product.isSponsored }"
        >
          <img [src]="product.image" alt="Product Image" />

          <p>
            <strong>{{ product.name }}</strong>
          </p>
          <p class="price">{{ product.price }}$</p>
          <p class="rating">{{ product.rating }}</p>
          <p class="rating">⭐⭐⭐⭐ (7)</p>
          <p><strong>livraison-48h-gratuite</strong></p>
        </div>
        <img
          alt=""
          src="	https://cdn.manomano.com/media/campaign-manager/de…6ac11feeadb.jpg?w=510&h=411&fit=cover&format=webp"
          srcset="
            https://cdn.manomano.com/media/campaign-manager/mobile_7c612c07-530a-11ef-9364-3e4d5fd9bf56_19cade7d-d856-446f-a4d3-ca835b2f08a6_5fdf288a88502f56355cef2dd945d9fd92f5fb26.jpg?w=328&amp;h=393&amp;fit=cover 1x,
            https://cdn.manomano.com/media/campaign-manager/mobile_7c612c07-530a-11ef-9364-3e4d5fd9bf56_19cade7d-d856-446f-a4d3-ca835b2f08a6_5fdf288a88502f56355cef2dd945d9fd92f5fb26.jpg?w=656&amp;h=786&amp;fit=cover 2x
          "
          width="328"
          height="393"
          class="OSUkNZ"
        />
        <!-- Repeat product-card divs for other products as needed -->
      </section>
    </div>
  </body>
</html>
